.header
    width: 100%
    height: 70px
    border-bottom: 1px solid #000

    & .container
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        position: relative

    &-rightside
        display: flex
        align-items: center

        & nav
            margin-right: 10px
            text-transform: uppercase
            letter-spacing: 0.05em
            font-size: 0.9em

            & a
                display: inline-block
                margin: 0 5px
                padding: 0.18em 0.3em
                position: relative
                color: inherit

                &::before
                    content: ''
                    position: absolute
                    bottom: -1px
                    left: 50%
                    transform: translateX(-50%)
                    width: 0%
                    height: 1px
                    background-color: #000
                    transition: width 300ms ease, opacity 300ms ease
                    opacity: 0

                &.active-navlink
                    &::before
                        opacity: 1
                        width: 85%
                &:hover
                    &::before
                        opacity: 1
                        width: 70%
                &:first-child
                    margin-left: 0
                &:last-child
                    margin-right: 0

        & .change-lang

            & button
                position: relative
                color: inherit
                cursor: pointer
                padding: 0 3px
                border: 1px solid #000
                background: #ccc

                &[theme='dark']
                    background: #000
                    border: 1px solid #fff

                &:first-child
                    margin-right: 10px

        & .change-theme
            margin-right: 14px

            & #theme-swiper
                width: 35px
                height: 15px
                position: relative
                cursor: pointer
                display: block

                &::before
                    content: ''
                    position: relative
                    width: 100%
                    height: 100%
                    display: block
                    background-color: #c0c0c0
                    border: 2px solid #777
                    border-radius: 15px

                &::after
                    content: ''
                    position: absolute
                    top: 0px
                    left: 0px
                    height: calc(100% + 0px)
                    width: 16px
                    display: block
                    border-radius: 50%
                    background-color: #6685c7
                    transition: 200ms all
                    border: 2px solid #2a28a0

                &:checked
                    &::before
                        background-color: rgb(216, 216, 216)
                    &::after
                        left: 100%
                        transform: translateX(-100%)
                        background-color: rgb(226, 207, 31)
                        border: 2px solid rgb(228, 126, 42)
        
        & .style-block
            // position: relative

            & .style-popup
                width: 170px
                height: 70px
                background: #ccc
                position: absolute
                right: 5px
                transform: translateY(100%)
                z-index: 4
                display: flex
                flex-flow: column nowrap
                justify-content: space-between
                padding: 10px
                transition: 250ms ease

                &[data-open='false']
                    visibility: hidden
                    opacity: 0
                    bottom: -10px
                &[data-open='true']
                    visibility: visible
                    opacity: 1
                    bottom: 5px

                &::after
                    content: ''
                    position: absolute
                    top: -3px
                    right: 1px
                    width: 20px
                    height: 20px
                    transform: rotate(-45deg)
                    background-color: #ccc
                    z-index: 1

                & div
                    display: flex
                    justify-content: space-between

                    & span
                        margin-right: 0px

@keyframes opening
    0%
        opacity: 0
        bottom: -10px
    100%
        opacity: 1
        bottom: 5px